/* ====== Fonts ====== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Lobster&family=Manrope&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-primary {
  padding: 16px 12px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background: #ff5959;
  border: 0;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

section {
  max-width: 1170px;
  margin: 130px auto;
}

/* ====== Header Styles ====== */
.header {
  height: 100vh;
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url("../images/banner-bg.png");
  background-blend-mode: multiply;
}

.banner {
  padding-top: 175px;
  text-align: center;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.banner p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ====== Donate-Today Styles ====== */
.donate-today {
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  font-family: "Inter", sans-serif;
  color: #121212;
  text-align: center;
}

.section-sub-title {
  font-size: 18px;
  color: #707070;
  max-width: 690px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.amount-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.amount {
  background: #fafafa;
  color: #707070;
  font-weight: 700;
  font-size: 30px;
  padding: 39px 26px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  font-family: "Inter", sans-serif;
  border: 2px solid transparent;
}

.amount:hover {
  background: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

.amount-pink {
  background: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

input {
  width: 80%;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #dadada;
  outline: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #b3b3b3;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 9.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ====== Our-Plan Styles ====== */
.plan-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.plan {
  border-radius: 5px;
}

.plan img {
  padding-left: 23px;
  padding-top: 65px;
}

.plan-title {
  font-weight: 600;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  padding-bottom: 16px;
  padding-left: 23px;
}

.plan-description {
  color: #707070;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 55px;
}

.first-plan {
  background: rgba(79, 157, 166, 0.1);
}

.second-plan {
  background: rgba(255, 89, 89, 0.1);
}

.third-plan {
  background: #fff4d6;
}

/* ====== Depend Styles ====== */
.depend {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.depend .section-title,
.section-sub-title {
  text-align: left;
}

.depend .sub-title-1 {
  margin-bottom: 20px;
  max-width: 482px;
}

.depend .sub-title-2 {
  margin-bottom: 30px;
  max-width: 482px;
}

.depend img {
  border-radius: 5px;
  height: 477px;
  width: 456px;
  display: block;
  object-fit: cover;
}
/* ====== Need Styles ====== */
.need {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-top: -30px;
}

.need img {
  border-radius: 5px;
  height: 477px;
  width: 456px;
  display: block;
  object-fit: cover;
}

.need .section-title,
.section-sub-title {
  text-align: left;
}

.need .sub-title-1 {
  margin-bottom: 20px;
  max-width: 482px;
  margin-left: 0;
}

.need .sub-title-2 {
  margin-bottom: 30px;
  max-width: 482px;
  margin-left: 0;
}

/* ====== Contact Styles ====== */

.contact .section-sub-title {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.subscribe {
  background: #fff4d6;
  padding: 80px 190px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.subscribe input {
  width: 275px;
  text-align: left;
  font-size: 16px;
  background: #d9d9d9;
  color: #aa9f9f;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 13.8px 17px;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe .btn-primary {
  padding: 16px 42px;
  font-size: 16px;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
}

/* ====== Footer Styles ====== */
footer {
  background: #0b0d17;
}

.footer-title {
  font-size: 36px;
  font-family: "Lobster", cursive;
  color: #ff5959;
  font-weight: 400;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 25px;
}

.footer-description {
  color: #d9dbe1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 42px;
  text-align: center;
}
